<h1>Editing Item</h1>

<%= render 'form' %>
<%= form_for @item, :url => items_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :avatar %>
<% end %>
<%= link_to 'Show', @item %> |
<%= link_to 'Back', items_path %>
